
body {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  margin: 0;
}
.tabs-container {
  background-color: var(--bg-color, #c6c6c6);
  flex-direction: row;
  display: flex;
  align-items: center;
}
.tabs-container.dark {
  background-color: var(--bg-color, #182126);
}
.tabs {
  flex-direction: row;
  display: flex;
  overflow: auto;
}
.tab {
  display: flex;
  max-width: 150px;
  width: 100px;
  flex: 1;
  align-items: center;
  text-decoration: none;
  height: 100%;
  min-height: 32px;
  outline: none;
  background-color: var(--tab-bg-color, #cccccc);
  white-space: nowrap;
  overflow: hidden;
}
.tab,
.tabs-container input,
.tabs-container path {
  color: var(--color, #5c5c5c);
  fill: var(--color, #5c5c5c);
}
.tabs-container.dark .tab,
.tabs-container.dark input,
.tabs-container.dark path {
  color: var(--color, #9d9e9d);
  fill: var(--color, #5c5c5c);
}
.tabs-container.dark .tab {
  background-color: var(--tab-bg-color, #212d33);
}

.tab[data-active=true] {
  background-color: var(--tab-active-bg-color, #f6f6f6);
}
.tabs-container.dark .tab[data-active=true] {
  background-color: var(--tab-active-bg-color, #313f46);
}
.tab span {
  pointer-events: none;
}
.tab input {
  border: none;
  background-color: transparent;
  font-family: monospace;
  font-size: 120%;
  outline: none;
  cursor: pointer;
  padding: 0 10px 0 5px;
}

.tab:not([data-dirty=true]) [data-command="warn-n-close"] {
  display: none;
}
.tab[data-dirty=true] [data-command="close"] {
  display: none;
}
.tab span[type=flex] {
  flex: 1;
}
.tab::before {
  content: ' ';
  width: 5px;
}
.tab:not(:first-of-type)::before {
  content: '|';
}
.tab[data-active=true]::before,
.tab[data-active=true] + .tab::before {
  content: ' ';
}
.tab span[data-id=title] {
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabs-container>button {
  background: var(--tab-bg-color, #cccccc);
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
  padding: 5px 10px;
}
.tabs-container.dark>button {
  background-color: var(--tab-bg-color, #212d33);
}
.tabs-container>button:focus {
  background-color: var(--tab-active-bg-color, #f6f6f6);
}
.tabs-container.dark>button:focus {
  background-color: var(--tab-active-bg-color, #313f46);
}
.tabs-container input:focus,
.tabs-container input:hover {
  color: var(--color-bright, #000);
}
.tabs-container.dark input:focus,
.tabs-container.dark input:hover {
  color: var(--color-bright, #fff);
}
